In [2]:
import yfinance as yf
import pandas as pd

# Get 5 years of historical data for 'GOOG'
ticker = yf.Ticker('GOOG')
data = ticker.history(period='5y')

# Create a DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the DataFrame
display(df.head())

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-11-02 00:00:00-05:00,80.854684,82.474102,80.252307,80.748909,50708000,0.0,0.0
2020-11-03 00:00:00-05:00,81.034461,82.520296,80.281618,81.949699,33234000,0.0,0.0
2020-11-04 00:00:00-05:00,84.932781,87.966275,84.721724,86.862076,71418000,0.0,0.0
2020-11-05 00:00:00-05:00,88.444753,89.072454,86.930609,87.569244,41316000,0.0,0.0
2020-11-06 00:00:00-05:00,87.101451,88.019167,86.426073,87.488800,33218000,0.0,0.0

In [3]:
display(df.tail())

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-10-27 00:00:00-04:00,265.359985,270.799988,264.940002,269.929993,22987700,0.0,0.0
2025-10-28 00:00:00-04:00,270.200012,271.380005,267.170013,268.429993,20101200,0.0,0.0
2025-10-29 00:00:00-04:00,268.609985,275.970001,268.429993,275.170013,26287900,0.0,0.0
2025-10-30 00:00:00-04:00,291.720001,291.929993,280.450012,281.899994,48570000,0.0,0.0
2025-10-31 00:00:00-04:00,283.204987,286.285004,277.523010,281.820007,29902500,0.0,0.0

In [4]:
# Save the DataFrame to a CSV file
df.to_csv('goog_stock_data.csv')

print("DataFrame saved to goog_stock_data.csv")

DataFrame saved to goog_stock_data.csv